* {
	font-size: 20px;
	color: #80ff80;
	font-family: sans-serif;
}
body {
	background-image: url(https://wallpaperaccess.com/full/1453924.jpg) ;
	background-size: cover;
	opacity: 0.95;
}

h1 {
	font-size: 30px;
	color: #70cfce;	
	text-align: center;
}

div > div > p {
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

div > div > select {
	margin: auto;
	text-align: center;
	justify-content: center;
}

#formulario {
	padding: 0;
	background-color: #222 ;
	display: grid;
	flex-direction: column;
	box-sizing: border-box;
	margin: auto;
	max-width: 900px;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	border: 3px solid #DFD;
	border-radius: 15px;
	box-shadow:  box-shadow: 10px 10px 8px #000;
}

select, input{
	background-color: #111;
	color: #40ff40;
	margin: auto;

}

.warning {
	margin: auto;
	text-align: center;
	color: #ae3132;
}

button {
	background-color: #16059a;
	color: #CCF;

}

span {
	color: #FFF;
}

.resultado {
	background-color: #111;
	padding: 20px;
}

footer {
	margin-top: 40px;
	margin-bottom: 30px;
	color: #70cfce;
}